<ion-header>

  <ion-navbar>
    <ion-title>{{ 'CARDS_TITLE' | translate }}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <!--
    <ion-badge item-end>260k</ion-badge>



  <ion-card *ngFor="let item of cardItems">

    <ion-item>
      <ion-avatar item-start>

        <ion-icon name="{{item.icon}}" style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h2>{{item.user.name}}</h2>
      <p>{{item.date}}</p>
    </ion-item>

    <ion-card-content>
      <p>{{item.content}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col item-end>
        <button ion-button color="primary" clear small icon-start>
            <ion-icon name='arrow-dropright'></ion-icon>
            Ir...
          </button>
      </ion-col>

    </ion-row>
  </ion-card>
  -->
  <ion-list *ngFor="let item of cardItems">
    <button ion-item (click)="buttonClick()">
      <ion-avatar item-start>
        <ion-icon name="{{item.icon}}" style="font-size: 2em;"></ion-icon>
      </ion-avatar>
      <h2>{{item.user.name}}</h2>
      <h3 text-wrap>{{item.content}}</h3>
      <ion-badge item-end style="font-size: 2rem;border-radius: 12px;">{{item.suma}}</ion-badge>
    </button>
  </ion-list>

</ion-content>
<ion-fab top right right>
  <button ion-fab mini (click)="doLogout()" color="danger">
    <ion-icon name="close"></ion-icon>
  </button>
</ion-fab>